
body{
    background: #1b1f24;
    background-size:cover;
    min-height:100%;
    font-family:Rubik,sans-serif
}
#content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:800px
}
#content h1{
    font-family:Montserrat,sans-serif;
    font-weight:400;
    color:#f3f3f3;
    display:inline
}
#content h1 b{
    font-weight:400;
    color:#ff9301
}
#content p{
    font-family:Rubik,sans-serif;
    font-weight:300;
    font-size:16px;
    color:#fff;
    margin:10px 0 0;
    line-height:1.75
}
#content p small{
    padding:15px 0;
    display:block;
    font-size:14px
}
#content p small a{
    font-weight:400
}
#content .header{
    font-size:18px;
    font-weight:800;
    letter-spacing:5px;
    text-transform:uppercase;
    font-family:Montserrat,sans-serif;
    color:#ff9301
}
#content ul{
    padding:0;
    display:inline;
    list-style-type:none
}
#content ul li{
    display:inline-block
}
#content ul li a{
    color:#fff;
    padding:5px 25px 0 0;
    font-weight:300;
    font-size:14px
}
#content ul li a:hover{
    color:#ff9301
}
.copyright{
    padding:10px;
    color:#fff;
    opacity:.2;
    font-weight:300;
    display:block;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    bottom:0;
    position:inherit
}
@media (min-width:1281px){
    .copyright{
        position:absolute
    }
}
